config led 'led1'
	option sysfs 'c50:green:wan'
	option default 'KEEP'

config led 'led2'
	option sysfs 'c50:orange:wan'
	option default 'ON'

config led_trigger 'led1netdev'
	option led 'led1'
	option trigger 'netdev'
	list params 'device_name:eth0'
	list params 'mode:link tx'

config led_trigger 'led2on'
	option led 'led2'
	option trigger 'none'
	list params 'brightness:255'

config led_combo 'wan1'
	list led_trigger 'led1netdev'
	list led_trigger 'led2on'

config trigger 'test'
	option ubus_event 'tbd'
	option led_combo 'wan1'
